/***---IMPORTING FONTS STYLE---***/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


/***---BODY STYLING---***/

body {
    background: #d3d3d3;
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
}


.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    font-weight: bold;
}

.btn {
    color: #fafafa;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

.btn:hover {
    background-color: #dc143c;
}

/***---STYLING HOME CONTENT---***/

.home {
    background-attachment: fixed;
    background-image: url('../images/section/Home.jpg');
    background-position: bottom;
    background-size: cover;
    padding: 15%;
    margin-bottom: 0;
    width: 99vw;
    height: 99vh;
    z-index: 1;
}

/***---STYLING HOME SECTION CONTENT---***/

.jumbotron {
    border: 3px solid #2f4f4f;
    border-radius: 10px;
    opacity: 0.7;
    z-index: 1;
}

.title {
    font-size: 1.5rem;  
    font-weight: bold;
    color: #ff4500;
}

.subtext,
.lead,
.info {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4b0082; 
}

.signUp-button {
    background-color: #f5f5dc;
    border: 3px solid #ff4500;
    border-radius: 10px;
    font-weight: bold;
    color: #4b0082;
    padding: 5px;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

.signUp-button:hover {
    background-color: #2f4f4f;
    color: #f5f5dc;
}

/***---STYLING SIGN UP FORM MODAL---***/

.modal-title {
    font-weight: bold;
    color: #4b0082;
}

.form-label {
    font-weight: bold;
    color: #2f4f4f;
}

.help-text {
    font-weight: bold;
    color: #4b0082;
}

.close {
    font-size: 2rem;
    font-weight: bold;
    color: #ff4500;
}

.signup-button {
    background-color: #f5f5dc;;
    border: 3px solid #4b0082;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #2f4f4f; 
    padding: 5px;
    margin: 10px 10px 10px 10px;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
    
}

.signup-button:hover {
    background-color: #2f4f4f;
    color: #f5f5dc;
}

/***---APPLYING STYLE TO ABOUT US CONTENT---***/

.aboutus {
    background-attachment: fixed;
    background-image: url('../images/section/Aboutus.jpg');
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0;
    width: 99vw;
    height: 99vh;
    z-index: 1;
}

.about {
    margin-top: 100px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #4b0082;
}

.par-1,
.par-2 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #fffafa;
    text-align: justify;
    margin: 0 20px 0 20px;
}


/***---APPLYING STYLE TO TOURS GUIDE CONTENT---***/

.tours {
    background-attachment: fixed;
    background-image: url('../images/section/Toursguide.jpg');
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0;
    width: 99vw;
    height: 99vh;
    z-index: 1;
}

.tour-guide  {
    margin-top: 100px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #f5f5dc;
}

.introduction {
    font-weight: bold;
    color: #fffafa;
    text-align: justify;
}


.destination {
    font-size: 1.4rem;
    font-weight: bold;
    color: #f5f5dc;
}

.tour1,
.description,
.tour-map1    {
    font-size: 1.2rem;
    font-weight: bold;
    color: #2f4f4f;
    padding: 0px;
    background: #f5f5dc;;
    border: 2px solid #ff4500;
    border-radius: 15px;
    opacity: 0.8;
}

.details1,
.details2 {
    font-weight: bold;
    color: #ff4500; 
    padding: 10px;
    background: #fffafa;
    border: 2px solid #2f4f4f; 
    border-radius: 10px;
    opacity: 0.8;
}


/***---ADDING STYLE TO GALLERY---***/

.gallery {
     background-attachment: fixed;
     background-image: url('../images/section/Gallery.jpg');
     background-position: bottom;
     background-size: cover;
     padding: 50px;
     margin-bottom: 0;
     width: 99vw;
     height: 99vh;
     z-index: 1;
}

.mygallery {
    margin-top: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #2f4f4f;
}


.mygallery-text {
    font-weight: bold;
    color: #dc143c; 
    background: #fffafa;
    border: 2px solid #2f4f4f;
    border-radius: 10px;
    opacity: 0.8;
    margin-top: 15px;
   
}


.myimages img {
    width: 180px;
    max-width: 100%;
    cursor: pointer;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    border: 4px solid #f8f8ff;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
}

.myimages img:hover { 
    -webkit-transform: scale(1.3); 
        -ms-transform: scale(1.3); 
            transform: scale(1.3);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.myimages p  {
    font-size: 1em;
    font-weight: bold;
    color: #fffafa;
}



/***---APPLYING STYLE TO SHOP SECTION---***/

.shop {
    background-attachment: fixed;
    background-image: url('../images/section/Shop.jpg');
    background-position: bottom;
    background-size: cover;
    margin-bottom: 0;
    width: 99vw;
    height: 99vh;
    z-index: 1;
}

.shopping {
    margin-top: 100px;
    font-size: 1.6em;
    font-weight: bold;
    color: #f5f5dc;
}

.shopping-text {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fafafa;
}

.shopping-offer {
    font-size: 1em;
    font-weight: bold;
    color: #4b0082;
}


.card {
    max-width: 100%;
    background: #fffff0;
    width: 180px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 3px solid #778899;
    border-radius: 10px;
    display: inline-block;
}

.card-title {
    margin: 5px 5px 5px 5px;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: #2f4f4f;
    margin-top: 10px;
}

.card-price {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: #1e90ff;
    margin-top: 5px;
}


.card-description {
    margin: 5px 5px 5px 5px;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #2f4f4f;
    line-height: 1;
}

.card-button-add {
    background-color: #f5f5dc; 
    border: 3px solid #778899;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: #4b0082;
    padding: 5px;
    margin: 3px 35px 0 35px;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

.card-button-add:hover {
    background-color: #2f4f4f;
    color: #f5f5dc;
}

.card-button-remove {
    background-color: #2f4f4f;
    border: 3px solid #778899;
    border-radius: 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: #f5f5dc; 
    padding: 10px;
    margin: 10px 10px 10px 10px;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

.card-button-remove:hover {
    background-color: #f5f5dc;
    color: #2f4f4f;
}



/***---STYLING CONTACT FORM---***/

.contact {
    background-attachment: fixed;
    background-image: url('../images/section/Contact.jpg');
    background-position: bottom;
    background-size: cover;
    width: 99vw;
    height: 99vh;
    z-index: 1;
}

.contactus {
    margin-top: 100px;
    font-size: 1.6em;
    font-weight: bold;
    color: #f5f5dc;
}

.form-control {
    max-width: 100%;
    font-size: 1em;
    font-weight: bold;
    background-color: #dcdcdc;
    border: 4px solid #f8f8ff;
    line-height: 0.5;
}

.button {
    background-color: #2f4f4f;
    border: 4px solid #f8f8ff;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    color: #f5f5dc;  
    padding: 3px;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

.button:hover {
    background-color: #f5f5dc;
    color: #2f4f4f;
}

.address {
    padding: 0px;
    font-size: 1em;
    font-weight: bold;
    color: #2f4f4f;
    background: #f5f5dc;;
    border: 4px solid #f8f8ff;
    border-radius: 25px;
    opacity: 0.9;
}

.line1 {
    font-size: 0.9em;
    font-weight: bold;
    color: #ff4500;
}


/***---ADDING STYLES TO FOOTER---***/

.myfooter {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #dcdcdc;
}

.social-media i {
    margin: 1% 2% 0 0;
    font-size: 1.1em;
    color: #2f4f4f;
    border: 7px solid #f8f8ff;
    border-radius: 50px;
    -webkit-box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
            box-shadow: 0 30px 20px rgba(0, 0, 0, 0.3);
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

/***---APPLYING INDIVIDUAL COLOR TO SOCIAL MEDIA LINKS ICONS WHEN USING HOVER---***/

.fa-pinterest-square:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    background-color: #7fffd4; 
}

.fa-facebook-square:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    background-color: #da70d6; 
}

.fa-instagram:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    background-color: #d2691e; 
}

.fa-github-alt:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    background-color: #adff2f; 
}

.fa-linkedin:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    background-color: #ffff00; 
}

/***---APPLYING STYLE TO COPYRIGHT TEXT---***/

.copyright {
    margin: 0px;
    font-size: 1em;
    font-weight: bold;
    font-style: oblique;
    color: #2f4f4f;
}

/***---MEDIA QUERIES---***/


/***---EXTRA SMALL DEVICES (portrait phones, less than 576px)---***/
@media (max-width: 575.98px) { 
    .home,
    .aboutus,
    .tours,
    .gallery,
    .shop,
    .contact {
        width: 99vw;
        height: 99%;
        overflow: scroll;
    }
    
    .jumbotron {
        margin-top: 40px;
    }
   
}


/***---Small devices (landscape phones, 576px and up)---***/
@media (min-width: 576px) and (max-width: 767.98px) {
    .home,
    .aboutus,
    .tours,
    .gallery,
    .shop,
    .contact {
        width: 99vw;
        height: 99%;
        overflow: scroll;
    }
    
    
   
}

/***---Medium devices (tablets, 768px and up)---***/
@media (min-width: 768px) and (max-width: 991.98px) {
    
    .home,
    .aboutus,
    .tours,
    .gallery,
    .shop,
    .contact {
        width: 99vw;
        height: 99vh;
        overflow: scroll;
    }
    
    
    
}

/***---Large devices (desktops, 992px and up)---***/
@media (min-width: 992px) and (max-width: 1400px) {
    
    .home,
    .aboutus,
    .tours,
    .gallery,
    .shop,
    .contact {
        width: 99%;
        height: 99vh;
        overflow: scroll;
    }
    .about {
        margin-top: 180px;
        font-size: 2.5em;
    }
    .par-1,
    .par-2 {
        font-size: 1.5em;
    }
    .mygallery {
        margin-top: 100px;    
    }
    
    .shop {
        margin-top: 50px;
    }
    
     
}
        
        